@charset "UTF-8";
/* CSS Document */
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }
	
	.searchbar {
		padding-left: 2em;
		float: left;
	}
	
	.logoimage {
		width: 100%;
		height: 100%;
		margin-top: 1em;
		padding-left: .5em;
		max-width: 175px;
		max-height: 250px;
	}
	
	.common {
		padding-left: 0;
		margin: 0;
		font-family: 'Futura', medium;
		font-size: 16px;
		text-align: center;
		font-size: 18px;
	}
	
	.uncommon {
		padding: 0;
		margin: 0;
		font-family: 'Futura', medium;
		font-size: 16px;
		text-align: center;
		font-size: 18px;
	}
	
	.common ul {
		list-style-type: none;
		padding: 0;
	}
	
	.uncommon ul {
		list-style-type: none;
		padding: 0;
	}
	
	nav a {
		text-decoration: none;
		color: #0C9;
		
	}
	
	.side p {
		margin-top: 1em;
		margin-left: 1em;
		text-align: justify;
		margin-right: 1em;
		font-family: 'Futura', medium;
		word-spacing: normal;
	}
	
	.sidebarimg {
		max-height: 200px;
		max-width: 200px;
		display: none;
	}
	
	header {
		font-family: 'Futura', medium;
		font-size: 20px;
		float: left;
		text-align: center;
		padding-left: 1em;
		padding-top: 2em;
		word-spacing: normal;
	}
		
	.text {
		float: right;
		font-family: 'Futura';
		font-size: 18px;
		text-align: left;
		padding-bottom: 2em;
		padding: 0 1em;	
		word-spacing: normal;
	}
	
	h3 {
		font-size: 16px;
		font-family: 'Futura';
		padding-left: 1em;
	}
	
	.list {
		float: right;
		font-family: 'Futura';
		font-size: 14px;
		text-align: left;
		padding-right: 1em;
	}
		
	
	.img img {
		max-width: 200px;
		max-height: 200px;
		padding-bottom: 2em;
		padding-left: .5em;
	
	}	

@media only screen and (min-width: 25em) {
	
	.logoimage {
		min-width: 300px;
		min-height: 150px;
		padding-left: 1.7em;
	}	
	
	.side p {
		text-align: center;
	}
	
	h3 {
		font-size: 20px;
	}
	
	.img img {
		padding-bottom: 2em;
		padding-left: 7em;
	}
}

@media only screen and (min-width: 30em) {
	
	.logoimage {
		min-width: 300px;
		min-height: 150px;
		padding-left: 3em;
	}	
	
	.side p {
		text-align: center;
	}
	
	h3 {
		font-size: 20px;
	}
	
	.img img {
		padding-bottom: 2em;
		padding-left: 7em;
	}
}

@media only screen and (min-width: 40em) {
	
	.logoimage {
		padding-right: 4em;
		padding-left: 5em;
	}	
	
	.img img {
		padding-left: 12em;
	}

@media only screen and (min-width: 50em) {
	
	.logoimage {
		padding-left: 1.5em;
	}	
	
	.img img {
		padding-left: 17em;
	}
	
@media only screen and (min-width: 60em) {
	
	.logoimage {
		padding-top: 0;
		min-width: 300px;
		min-height: 150px;
		padding-left: 0;
	}	
	
	.left {
		position: fixed;
	}
	
	.searchbar {
		position: fixed;
		padding-top: .5em;
	}
	
	.side p {
		float: left;
		text-align: left;
		padding-right: 41em;
		padding-left: 1em;
		padding-top: 5em;
		position: fixed;
	}
	
	.common {
		text-align: left;
		float: left;
		padding-left: 1.7em;
		position: fixed;
	}
	
	.uncommon {
		text-align: left;
		float: left;
		padding-left: 1.7em;
		position: fixed;
	}

	.common ul {
		margin-bottom: 0;
		padding-top: 0em;
	}
	
	.uncommon ul {
		padding-top: 2em;
	}
	
	.img img {
		padding-left: 17em;
		display: none;
	}
	
	header {
		float: right;
		padding-top: 14em;
		padding-right: 21.7em;
	}
	
	.headercom {
		float: right;
		padding-top: 14em;
		padding-right: 22.3em;
	}
	
	.headeruncom {
		float: right;
		padding-top: 14em;
		padding-right: 20.4em;
	}
	
	.sidebarimg {
		float: left;
		display: block;
		padding-left: 1em;
		position: fixed;
		padding-top: 20em;
	}
	
	h3 {
		padding: 0;
	} 
	
	.text {
		float: right;
		clear: both;
		padding-left: 18em;
		padding-bottom: 3em;
	}
	
	.list {
		float: right;
		clear: both;
		padding-left: 22em;
		padding-bottom: 3em;
	}

@media only screen and (min-width: 65em) {
	
	.side p {
		padding-right: 48em;
	}
	
}

@media only scree and (min-width: 80em) {
	
	.side p {	
		clear: both;
		margin-right: 60em;
	}
}