@charset "UTF-8";
/* CSS Document */
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }
	
	html {
		background-image: url(../img/background.png);
		background-attachment: fixed;
	}
	
	.skiplinks {
		margin: 0;
		padding: 0;
		position: absolute;
		width: 100%;
		z-index: 3000;
		
		font-size: 1.25em;
		font-weight: bold;
		list-style-type: none;
	}

	.skiplinks a,
	.skiplinks a:link,
	.skiplinks a:visited {
		padding: 0.75em 1em;
		position: absolute;
		top: -10em;
		
		background-color: #000;
		
		color: #fff;
		text-decoration: none;
	}
	
	.skiplinks a:focus {
		top: 0;
	}
	
	a,
	a:link,
	a:visited {
		outline: none;	
	}
	
	a:hover,
	a:active {
		outline: none;
	}
	
	a:focus {
		outline: 3px solid #000;
	}
	
	.searchbar {
		padding-left: 2em;
		float: left;
	}
	
	.logoimage {
		padding: 0;
		margin-top: 1em;
		max-width: 175px;
		max-height: 250px;
	}
	
	.home {
		margin: 0;
		font-family: 'Futura', medium;
		text-align: center;
		font-size: 18px;
	}
	
	.nutrition {
		margin: 0;
		font-family: 'Futura', medium;
		text-align: center;
		font-size: 18px;
	}
	
	.recipes {
		margin: 0;
		font-family: 'Futura', medium;
		text-align: center;
		font-size: 18px;
	}
	
	.links nav a {
		color: #c09;
	}
	
	.edible {
		margin: 0;
		font-family: 'Futura', medium;
		text-align: center;
		font-size: 18px;
	}
	
	.inedible {
		margin: 0;
		font-family: 'Futura', medium;
		text-align: center;
		font-size: 18px;
	}
	.home ul {
		list-style-type: none;
		padding: 0;
	}
	
	.nutrition ul {
		list-style-type: none;
		padding: 0;
	}
	
	.recipes ul {
		list-style-type: none;
		padding: 0;
	}
	
	.edible ul {
		list-style-type: none;
		padding: 0;
	}
	
	.inedible ul {
		list-style-type: none;
		padding: 0;
	}
	
	nav a {
		text-decoration: none;
		color: #0C9;
	}
	
	.recipeimg {
		width: 100%;
		padding-left: 7em;
		margin-top: 1em;
		max-width: 175px;
		max-height: 250px;
	}
	
	.name {
		font-family: 'Futura', medium;
		text-align: center;
		margin-bottom: 0;
	}
	
	.author {
		font-family: 'Futura', medium;
		font-size: 16px;
		text-align: center;
		margin-top: .5em;
		margin-bottom: 2em;
	}
	
	.description {
		font-family: 'Futura', medium;
		text-align: left;
		padding: 0 .5em;
	}
	
	.recipe-cooking {
		font-family: 'Futura', medium;
		text-align: left;
		padding: 0 .5em;
	}
	
	.recipe-facts {
		font-family: 'Futura', medium;
		text-align: left;
		padding: 0 .5em;
	}
	
	.recipe-ingredients {
		font-family: 'Futura', medium;
		text-align: left;
	}
	
	.recipe-instructions {
		font-family: 'Futura', medium;
		text-align: left;
		padding: 0 .5em;
	}
	
	.nutrition-details {
		font-family: 'Futura', medium;
		text-align: left;
		padding: 0 .5em;
	}
	
	.cooking-details {
		font-family: 'Futura', medium;
		text-align: left;
		padding: 0 .5em;
	}
	
	.ingredient-details {
		font-family: 'Futura', medium;
		text-align: left;
		padding: 0 .5em  0 2em;
	}
	
	.ingredient-details li {
		padding-bottom: .5em;
	}
	
	.instruction-details {
		font-family: 'Futura', medium;
		text-align: left;
		padding: 0 .5em  0 2em;
	}
	
	.time {
		font-family: 'Futura', medium;
		text-align: left;
		padding: 0 .5em;
	}
	
	.side p {
		margin-top: 1em;
		margin-left: 1em;
		font-size: 18px;
		margin-right: 1em;
		font-family: 'Futura', medium;
		word-spacing: normal;
		border-bottom: 3px solid #C06;
		border-top: 3px solid #C06;
		padding: .5em 0;
	}
	
	h1 {
		font-family: 'Futura', medium;
		text-align: center;
		clear: both;
	}
	
	.list p {
		font-family: 'Futura', medium;
		text-align: center;
		padding-left: 1.2em;
		margin: 0;
		
	}
	
	.list h3 {
		text-align: center;
		margin-bottom: 0;
	}
		
	.fruit-even {
		border-bottom: 1px solid #000;
		margin-bottom: 1em;
	}
	
	.fruit-odd {
		border-bottom: 1px solid #000;
	}
	
	.fruit-image img {
		width: 200px;
		padding-left: .5em;
		display: inline;
	}
	
	.content-text p {
		padding-left: 1em;
		font-family: 'Futura', medium;
	}
		
	.content-text ul {
		font-family: 'Futura', medium;
	}
	
	.title {
		text-transform: uppercase;
	}
	
	.sidebarimg {
		max-height: 200px;
		max-width: 200px;
		display: none;
	}
	
	.headeredible {
		font-family: 'Futura', medium;
		font-size: 20px;
		float: left;
		text-align: center;
		padding-left: 2em;
		padding-top: 1em;
		word-spacing: normal;
	}
	
	.headerinedible {
		font-family: 'Futura', medium;
		font-size: 20px;
		float: left;
		text-align: center;
		padding-left: .7em;
		padding-top: 1em;
		word-spacing: normal;
	}
	
	.header {
		font-family: 'Futura', medium;
		font-size: 20px;
		float: left;
		text-align: center;
		padding-top: 1em;
		word-spacing: normal;
	}
	
	.header404 {
		font-family: 'Futura', medium;
		font-size: 20px;
		text-align: center;
		padding-top: 1em;
		word-spacing: normal;
		color: #C06;
	}
	
	.text {
		font-family: 'Futura';
		font-size: 16px;
		padding-bottom: 2em;
		padding: 0 1em;	
		word-spacing: normal;
	}
	
	h3 {
		font-size: 16px;
		font-family: 'Futura';
		padding-left: 0;
	}
	
	.list {
		float: right;
		font-family: 'Futura';
		font-size: 14px;
		text-align: left;
		padding-right: 1em;
	}
		
	
	.img img {
		max-width: 200px;
		max-height: 200px;
		padding-bottom: 2em;
		padding-left: 3em;
	}
	
	#main {
		text-align: center;
	}
	
	footer {
		clear: both;
		font-family: 'Futura';
		font-size: 14px;
		text-align: center;
		text-decoration: none;
	}
	
		
}	

@media only screen and (min-width: 20em) {
	
	.img img {
		padding-left: 8em;
	}
}

@media only screen and (min-width: 25em) {
	
	.logoimage {
		min-width: 300px;
		min-height: 150px;
	}	
	
	.side p {
		text-align: center;
	}
	
	h3 {
		font-size: 20px;
		padding-left: 0;
	}
	
	.img img {
		padding-bottom: 2em;
		padding-left: 7em;
	}
}

@media only screen and (min-width: 30em) {
	
	.side p {
		text-align: center;
	}
	
	h3 {
		font-size: 20px;
		padding-left: 0;
	}
	
	.img img {
		padding-bottom: 2em;
		padding-left: 10.3em;
	}
}

@media only screen and (min-width: 35em) {
	
	.logoimage {
		
	}
	
	.side p {
		text-align: center;
	}
	
	h3 {
		font-size: 20px;
	}
	
	.recipeimg {
		padding-left: 15em;
	}
	
	.img img {
		padding-bottom: 2em;
		padding-left: 11em;
	}
}

@media only screen and (min-width: 40em) {
	
	.logoimage {

		width: 100%;
	}
	
	.img img {
		padding-left: 12em;
	}	

}

@media only screen and (min-width: 50em) {		
	
	.img img {
		margin: 0;
	}
	
	.sidebarimg {
		margin: 0
		padding-left: 2em;	
	}
	
	.list {
		float: left;
		text-align: left;
	}
	
	.text {
		margin: 0;
		padding: 0;
	}
	
	
@media only screen and (min-width: 60em) {
	
	body {
		box-shadow: 0 0 20px 15px #dedede;
		width: 100%;
		max-width: 1040px;
		background-color: #fff;
		margin: 0 auto;
		display: block;
	}
	
	footer {
		text-align: left;
		padding: 0 0 1em 1em;
	}
	
	.searchbar {
		position: fixed;
		padding-top: .5em;
	}
	
	.logoimage {
		min-width: 300px;
		min-height: 150px;
		padding: 0;
	}	
	
	.left {
		width: 60%;
		position: fixed;
	}
	
	.text p {
		clear: both;
		text-align: left;
	}
	
	h1 {
		paddng-top: 1em;
	}
	
	header {
		float: right;
		padding-top: 14em;
		padding-right: 21.7em;
	}
	
	.recipeimg {
		padding-left: 5em;
	}
	
	.headerinedible {
		font-size: 30px;
		font-weight: bold;
	}
	
	.headeredible {
		font-size: 30px;
		font-weight: bold;
		padding: 1.3em 0 0 0;
		float: left;
	}
	
	.headerhome {
		font-size: 30px;
		padding-top: 1.3em;
		font-weight: bold;
		float: left;
	}
	
	.headernutri {
		font-size: 30px;
		font-weight: bold;
		padding-top: 1.3em;
		float: left;
		display: block;
	}
	
	.headerrecipe {
		float: left;
		padding-top: 1.3em;
	}
	
	.header404 {
		font-size: 30px;
		font-weight: bold;
		padding-top: 1.3em;
		text-align: left;
		display: block;
	}
	
	.sidebarimg {
		display: block;
		margin: 0;
	}
	
	.list li {
		padding-bottom: 1em;
		font-size: 14px;	
	}
	
	.list ul {
		padding-right: 10em;
		padding-left: 2em;
	}
	
	.text {
		width: 65%;
		padding-bottom: 3em;
	}
	
	.list {
		padding-bottom: 3em;
		clear: both;
	}
	
	.list h3 {
		text-align: left;
	}
	
	.list p {
		text-align: left;
		padding: 0;
	}
	
	.list li {
		font-size: 17px;
	}
	
	.list ul {
		padding-left: 2em;
	}
	
	.right {
		float: right;
		width: 60%;
		padding-right: 2em;
	}

	.img img {
		display: none;
	}
	
	.fruit-even {
		display: block;
		width: 50%;
		border-bottom: hidden; 
		margin: 0
		/*padding: 0 1em; */
	}
	
	.fruit-odd {
		display: block;
		width: 50%;
		border-bottom: hidden;
		margin: 0;
		/*
		border-right: 1px solid #C06;
		padding-left: .5em; */
	}
	
	.nutri-info {
		clear: both;
	}
	
	.fruit-image {
		padding: 2em 0 .5em 2em;
	}
	
	.title {
		text-align: center;
	}
	
	footer {
		padding: .5em 0 4em 37em;
	}

@media only screen and (min-width: 65em) {
	
	.left logo side p {
		padding: 0;
		margin: 0;
	}
	
	.left {
		width: 30%;
		padding-left: 2em;
	}
	
	.right {
		width: 55%;
		padding: 0;
		margin: 0;
	}
	
	.sidebarimg {
		padding-left: 7em;
		padding-top: 1.5em;
		margin: 0;
	}
	
	.headeredible {
		font-size: 30px;
		font-weight: bold;
	}
	
	.content-text li {
		padding-bottom: .4em;
	}

	.description {
		float: left;
	}
	
	.name {
		text-align: center;
		padding-bottom: 1em;
	}
	
	header {
		margin: 0;
		padding: 0;
		float: left;
		clear: both;
	}
	
	.recipeimg {
		max-height: 400px;
		max-width: 400px;
		padding-right: 8em;
		margin: 0;
	}
	
	.recipe {
		float: right;
	}
	
	.author {
		padding-left: 14em;
		float: left;
		clear: both;
		margin: .5em;
	}
	
	.time {
		padding-left: 14.7em;
		float: left;
		clear: both;
	}
	
	.ingredient-list {
		float: left;
		width: 33.3333%;
		padding-top: 2em;
	}
	
	.instruction-list {
		float: right;
		width: 66.6%;
		padding-top: 2em;
	}
	
	.cooking-list {
		float: left;
		clear: both;
		width: 33.3%;
	}
	
	.nutrition-list {
		float: left;
		width: 33.3%;
	}	
	
	.title {
		font-size: 15px;
	}
	
	.content {
		background-color: #CCC;
		border: solid 2px #FFF;
		background-size: auto;
	}
	
	.content-text {
		background-color: #CCC;
		border-top: solid 4px #FFF;
		background-size: auto;
	}
	
	.fruit-even {
		width: 50%;
	}
	
	fruit-odd {
		width: 50%;
	}
		
	
	
}