@charset "UTF-8";
/* CSS Document */
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }
	
	.searchbar {
		padding-left: 2em;
		float: left;
	}
	
	.logoimage {
		width: 100%;
		height: 100%;
		padding: 0;
		margin-top: 1em;
		max-width: 175px;
		max-height: 250px;
	}
	
	.home {
		margin: 0;
		font-family: 'Futura', medium;
		text-align: center;
		font-size: 18px;
	}
	
	.nutrition {
		margin: 0;
		font-family: 'Futura', medium;
		text-align: center;
		font-size: 18px;
	}
	
	.recipes {
		margin: 0;
		font-family: 'Futura', medium;
		text-align: center;
		font-size: 18px;
	}
	
	.edible {
		margin: 0;
		font-family: 'Futura', medium;
		text-align: center;
		font-size: 18px;
	}
	
	.inedible {
		margin: 0;
		font-family: 'Futura', medium;
		text-align: center;
		font-size: 18px;
	}
	.home ul {
		list-style-type: none;
		padding: 0;
	}
	
	.nutrition ul {
		list-style-type: none;
		padding: 0;
	}
	
	.recipes ul {
		list-style-type: none;
		padding: 0;
	}
	
	.edible ul {
		list-style-type: none;
		padding: 0;
	}
	
	.inedible ul {
		list-style-type: none;
		padding: 0;
	}
	
	nav a {
		text-decoration: none;
		color: #0C9;
	}
	
	.recipeimg {
		width: 100%;
		padding-left: 1.5em;
		margin-top: 1em;
		max-width: 175px;
		max-height: 250px;
	}
	
	.name {
		font-family: 'Futura', medium;
		text-align: center;
		margin-bottom: 0;
	}
	
	.author {
		font-family: 'Futura', medium;
		font-size: 16px;
		text-align: center;
		margin-top: .5em;
		margin-bottom: 2em;
	}
	
	.description {
		font-family: 'Futura', medium;
		text-align: left;
		padding: 0 .5em;
	}
	
	.recipe-cooking {
		font-family: 'Futura', medium;
		text-align: left;
		padding: 0 .5em;
	}
	
	.recipe-facts {
		font-family: 'Futura', medium;
		text-align: left;
		padding: 0 .5em;
	}
	
	.recipe-ingredients {
		font-family: 'Futura', medium;
		text-align: left;
	}
	
	.recipe-instructions {
		font-family: 'Futura', medium;
		text-align: left;
		padding: 0 .5em;
	}
	
	.nutrition-details {
		font-family: 'Futura', medium;
		text-align: left;
		padding: 0 .5em;
	}
	
	.cooking-details {
		font-family: 'Futura', medium;
		text-align: left;
		padding: 0 .5em;
	}
	
	.ingredient-details {
		font-family: 'Futura', medium;
		text-align: left;
		padding: 0 .5em  0 2em;
	}
	
	.ingredient-details li {
		padding-bottom: .5em;
	}
	
	.instruction-details {
		font-family: 'Futura', medium;
		text-align: left;
		padding: 0 .5em  0 2em;
	}
	
	.time {
		font-family: 'Futura', medium;
		text-align: left;
		padding: 0 .5em;
	}
	
	.smoothie {
		padding-right: 7em;
		text-decoration: none;
		font-family: 'Futura', medium;
	}
	
	.side p {
		margin-top: 1em;
		margin-left: 1em;
		font-size: 18px;
		margin-right: 1em;
		font-family: 'Futura', medium;
		word-spacing: normal;
		border-bottom: 3px solid #C06;
		border-top: 3px solid #C06;
		padding: .5em 0;
	}

	
	h1 {
		font-family: 'Futura', medium;
		text-align: center;
	}
	
	.list p {
		font-family: 'Futura', medium;
		text-align: center;
		padding-left: 1.2em;
		margin: 0;
		
	}
	
	.list h3 {
		text-align: center;
		margin-bottom: 0;
	}
		
	.fruit-even {
		border-bottom: 1px solid #000;
		margin-bottom: 1em;
	}
	
	.fruit-odd {
		border-bottom: 1px solid #000;
	}
	
	.fruit-image img {
		width: 200px;
		padding-left: .5em;
		display: inline;
	}
	
	.content-text p {
		padding-left: 1em;
		font-family: 'Futura', medium;
	}
		
	.content-text ul {
		font-family: 'Futura', medium;
	}
	
	.title {
		text-transform: uppercase;
	}
	
	.sidebarimg {
		max-height: 200px;
		max-width: 200px;
		display: none;
	}
	
	.headeredible {
		font-family: 'Futura', medium;
		font-size: 20px;
		float: left;
		text-align: center;
		padding-left: 2em;
		padding-top: 1em;
		word-spacing: normal;
	}
	
	.headerinedible {
		font-family: 'Futura', medium;
		font-size: 20px;
		float: left;
		text-align: center;
		padding-left: .7em;
		padding-top: 1em;
		word-spacing: normal;
	}
	
	.header {
		font-family: 'Futura', medium;
		font-size: 20px;
		float: left;
		text-align: center;
		padding-top: 1em;
		word-spacing: normal;
	}
	
	.text {
		font-family: 'Futura';
		font-size: 16px;
		padding-bottom: 2em;
		padding: 0 1em;	
		word-spacing: normal;
	}
	
	h3 {
		font-size: 16px;
		font-family: 'Futura';
		padding-left: 0;
	}
	
	.list {
		float: right;
		font-family: 'Futura';
		font-size: 14px;
		text-align: left;
		padding-right: 1em;
	}
		
	
	.img img {
		max-width: 200px;
		max-height: 200px;
		padding-bottom: 2em;
		padding-left: .5em;
	
	}
}	

@media only screen and (min-width: 25em) {
	
	.logoimage {
		min-width: 300px;
		min-height: 150px;
	}	
	
	.side p {
		text-align: center;
	}
	
	h3 {
		font-size: 20px;
		padding-left: 0;
	}
	
	.img img {
		padding-bottom: 2em;
		padding-left: 7em;
	}
}

@media only screen and (min-width: 25.8em) {
	
	.logoimage {
		padding-right: .2em;
	}	
	
	.side p {
		text-align: center;
	}
	
	h3 {
		font-size: 20px;
		padding-left: 0;
	}
	
	.img img {
		padding-bottom: 2em;
		padding-left: 7em;
	}
}

@media only screen and (min-width: 30em) {
	
	.logoimage {
		padding-leftem;
	}
	
	.side p {
		text-align: center;
	}
	
	h3 {
		font-size: 20px;
	}
	
	.img img {
		padding-bottom: 2em;
		padding-left: 7em;
	}
}

@media only screen and (min-width: 40em) {
	
	.logoimage {
		padding-right: 6.2em;
	}
	
	.headeredible {
		padding-left: 13em;
	}
	
	.img img {
		padding-left: 12em;
	}	
}

@media only screen and (min-width: 50em) {	
	
	.img img {
		padding-left: 17em;
	}
	
	.headeredible {
		padding-left: 20em;
	}
	
	.list {
		float: left;
		text-align: left;
		padding-left: 13em;
	}
	
	.img img {
		padding-left: 22em;
	}
		
	.headerhome {
		padding-right: 2.7em;
}
	
@media only screen and (min-width: 60em) {
	
	.searchbar {
		position: fixed;
		padding-top: .5em;
	}
	
	.logoimage {
		min-width: 300px;
		min-height: 150px;
		padding: 0;
	}	
	
	.left {
		width: 30%;
		position: fixed;
	}
	
	h1 {
		paddng-top: 1em;
	}
	
	header {
		float: right;
		padding-top: 14em;
		padding-right: 21.7em;
	}
	
	.headerinedible {
		font-size: 30px;
		font-weight: bold;
		padding-left: 12em;
	}
	
	.headeredible {
		font-size: 30px;
		font-weight: bold;
		padding-top: 1.3em;
		padding-left: 9.2em;
	}
	
	.headerhome {
		font-size: 30px;
		padding-top: 1.3em;
		font-weight: bold;
	}
	
	.headernutri {
		font-size: 30px;
		font-weight: bold;
		padding-right: 17em;
		padding-top: 1.3em;
	}
	
	.sidebarimg {
		display: block;
		padding-left: 2em;
		margin: 0;
	}
	
	.list h3 {
		text-align: left;
	}
	
	.list p {
		text-align: left;
		padding: 0;
	}
	
	.list li {
		padding-bottom: 1em;
		font-size: 14px;	
	}
	
	.list ul {
		padding-right: 10em;
		padding-left: 2em;
	}
	
	.text {
		float: right;
		clear: both;
		padding-left: 20em;
		padding-bottom: 3em;
	}
	
	.text p {
		padding-left: 0;
	}
	
	.list {
		float: right;
		clear: both;
		padding-left: 24em;
		padding-bottom: 3em;
	}
	
	.list ul {
		padding-left: 2em;
	}
	
	.right {
		float: right;
	}

	.img img {
		display: none;
	}
	
	.fruit-even {
		display: inline;
		clear: both;
	}
	
	.fruit-odd {
		display: inline;
		clear: both;
	}
}
@media only screen and (min-width: 65em) {
	
	.left logo side p {
		padding: 0;
		margin: 0;
	}
	
	
}

@media only scree and (min-width: 80em) {
	
	.list {
		padding-right: 20em;
		padding-left: 0;
	}
	
	.headeredible {
		font-size: 30px;
		font-weight: bold;
		padding-left: 0;
	}
}