<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
		<meta name="handheldfriendly" content="true">
		<meta name="mobileoptimized" content="240">
		<meta name="viewport" content="width=device-width,initial=scale=1">
		<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
		
		<!-- Facebook -->
		<meta property="og:type" content="article">
		<meta property="og:title" content="Very Berry Berries · Berries and their many uses">
		<meta property="og:url" content="http://laydeekey.github.io/large-data-website/index.html">
		<!-- Image size: minimum 200x200; reommended 1500x1500 -->
		<meta property="og:image" content="http://laydeekey.github.io/large-data-website/img/strawberry.jpg">
		<meta property="og:description" content="Berries are full of colour and very nutritious">
		<meta property="og:site_name" content="Very Berry Berries">
		
		<!--Twitter -->
		<meta property="twitter:card" content="summary">
		<meta property="twitter:title" content="Very Berry Berries · Berries and their many uses">
		<meta property="twitter:url" content="http://laydeekey.github.io/large-data-website/index.html">
		<!-- Image size: 120x120 -->
		<meta property="twitter:image" content="http://laydeekey.github.io/large-data-website/img/strawberry.jpg">
		<meta property="twitter:description" content="Berries are full of colour and very nutritious">
		
		<title>Very Berry Berries · Berries and their many uses</title>
		<!-- 
		<title> is THE most important content on your page
		On the homepage I follow this format:
		1. Name
		2. 5-7 word super keyword blurb
		3. Location, if appropriate
		-->
		<meta name="description" content="Berries are full of colour and very nutritious">
		<!--
		The meta description cannot be longer than 150 characters
		It should be absolutely UNIQUE on every page
		-->
</head>

<body id="top">

<ul class="skiplinks">
	<li><a href="#main">Skip to primary content</a></li>
	<li><a href="#complementary">Skip to secondary content</a></li>
	<li><a href="#navigation">Skip to navigation</a></li>
</ul>

	<div class="searchbar"> 
		<label>Search</label>
		<input type="search" placeholder="Search">
	</div>
	
	<div class="left logo side">
		<h1><img src="{{site.baseurl}}/img/very-berry-berries-logo.png" class="logoimage" alt=""><a href="{{site.baseurl}}/index.html"></a></h1>
		
		
{{content}}
		<footer>
			<!-- Content Info defines things like copyright, privacy, terms of use-->
			<p role="contentinfo">© Very Berry Berries</p>
			<a href="#top">TOP</a>
		</footer>




</body>
</html>
